.cards-container{
    width:100%;
    min-height:100px;
}

.cards{
    display: flex;
    margin-right: 20px;
}

@media screen and (max-width: 850px) {
    .cards-container{
       display: none;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
       
    }
    .card{
        margin-bottom: 20px;
        margin-right: 30px;
    }   

    .small-sc{
        margin-top: 25px;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 851px) {

    .small-sc{
        display: none;
    }
}

.card{
    display: flex;
    width: 200px;
    height: 100px;
    margin-right:20px;
    border-radius: 20px;
    padding:20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.card-info{
    display: flex;
    flex-direction: column;

}

.name{
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.number{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -10px;
    
}

.card-img{
    display: flex;
    width: 20px;
    height: 24px;
}