.home-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 150vh;
    background-color: #F5F5F5;
    width:100%;
}

@media screen and (max-width:850px) {
    .home-container{
        display: flex;
        flex-direction: column;
    }
}

.right-section{
    margin:30px;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}